@model TaskManager.Models.Task

@{
    ViewData["Title"] = "Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddorEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaskId"/>
            <input type="hidden" asp-for="Date" />
            <div class="form-group">
                <label asp-for="TaskTitle" class="control-label"></label>
                <input asp-for="TaskTitle" class="form-control" />
                <span asp-validation-for="TaskTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label"></label>
                <input asp-for="TaskDescription" class="form-control" />
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskStatus" class="control-label"></label>
                <input asp-for="TaskStatus" class="form-control" />
                <span asp-validation-for="TaskStatus" class="text-danger"></span>
            </div>
            
            <div class="col mt-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" w-150 />
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <a asp-action="Index" class="btn btn-secondary" w-150> View all </a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
